{% extends 'base.html' %}


{% block container %}

<!-- CARD -->
<div class="mdl-cell mdl-cell--4-col card mdc-shape-container my-shape-container">

    <div class="demo-card-wide mdl-card mdl-shadow--4dp">
        <div class="mdl-card__actions messages">

            <h2 class="citation">500: Une erreur inconnue est apparue. Papi a dû prendre trop de somnifères...</h2>


        </div>
    </div>

    <!-- SHAPES -->
    <div class="mdc-shape-container__corner mdc-shape-container__corner--top-left"></div>
    <div class="mdc-shape-container__corner mdc-shape-container__corner--bottom-right"></div>
</div>

{% endblock %}