{% extends 'base.html' %}


{% block container %}
<!-- QUI SUIS JE ? -->
<div class="mdl-cell mdl-cell--4-col cardPerso mdc-shape-container my-shape-container">

    <div class="demo-card-wide mdl-card mdl-shadow--4dp">
        <div class="mdl-card__actions contentPerso">

            <img class="technoLogo" id="gravatar" src="https://fr.gravatar.com/userimage/123457805/cc76fa38f36116f81afa3abbd5f9e222.png"
                alt="avatar"></img>
            <div>
                <h2>Mikael Briolet</h2>
                <span id="subtitle"><i>- développeur python full-stack.</i></span>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border padded citation">
            <span>
                "Etudiant chez OpenClassroom, j'utilise le langage python couplé aux technologies front-end pour créer des sites fonctionnels
                au design épuré."
            </span>
        </div>
        <div class="technoTitle">Technologies utilisées</div>

        <div class="mdl-card__actions mdl-card--border padded technos">
            <!-- INPUT SEARCHING -->
            <div class="technoLogo"><a href="http://flask.pocoo.org/"><img src="../static/icons/flask.png"
                        alt="github" width="60"></img></a></div>
            <div class="technoLogo"><a href="https://www.python.org/"><img src="../static/icons/python.png"
                        alt="github" width="60"></img></a></div>
            <div class="technoLogo"><a href="https://jquery.com/"><img src="../static/icons/jquery.png"
                        alt="github" width="60"></img></a></div>
            <div class="technoLogo"><a href="https://www.npmjs.com/"><img src="../static/icons/npm.png"
                        alt="github" width="60"></img></a></div>
            <div class="technoLogo"><a href="https://getmdl.io/"><img src="../static/icons/mdl.png" alt="github"
                        width="60"></img></a></div>
        </div>
    </div>
    <!-- SHAPES -->
    <div class="mdc-shape-container__corner mdc-shape-container__corner--top-left"></div>
    <div class="mdc-shape-container__corner mdc-shape-container__corner--bottom-right"></div>
</div>

{% endblock %}