{% extends 'base.html' %}


{% block container %}
<!-- CARD -->
<div class="mdl-cell mdl-cell--4-col card mdc-shape-container my-shape-container">

    <div class="demo-card-wide mdl-card mdl-shadow--4dp">
        <div class="mdl-card__actions messages">

            <!-- MESSAGES LIST -->
            <ul id="messageList" class="demo-list-three mdl-list">
                <li class="GrandPy">
                    <img class="iconImg" src="../static/images/r_basic.png" alt="Avatar" width="50">
                    <span class="-text-">Bonjour mon enfant. Je suis GrandPy bot, le papi robot
                        !<br>Où désires-tu aller ?</span>
                </li>
            </ul>
        </div>

        
        <div class="mdl-card__actions mdl-card--border">
            <!-- INPUT SEARCHING -->
            <div id="progressBar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
            <form id="inputForm" name="input">
                <div name="messageInput" id="inputDiv" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="input">
                    <label class="mdl-textfield__label" for="input">Entrer un lieu, une adresse...</label>
                </div>
                <!-- INFO BUTTON -->
                <button id="ttinfos" class="infos mdl-button mdl-js-button mdl-button--icon mdl-button--fab mdl-button--colored mdl-js-ripple-effect"
                    type="button" onclick="event.preventDefault()">?</button>
            </form>
        </div>
    </div>

    <!-- SHAPES -->
    <div class="mdc-shape-container__corner mdc-shape-container__corner--top-left"></div>
    <div class="mdc-shape-container__corner mdc-shape-container__corner--bottom-right"></div>
</div>



<!-- INFO TOOLTIPS -->
<div class="mdl-tooltip mdl-tooltip" for="ttinfos">Papi ne comprend pas bien ?</div>
<div class="mdl-dialog">
    <div class="mdl-dialog__content mdl-shadow--8dp">
        <p>
            <h3>GrandPi n'entend plus très bien !</h3>
            <br>
            Seul quelques mots clés peuvent l'aider à trouver votre destination...<br>
            <br>
            <h5><b>Allez au plus simple.</b></h5>
            <br>
            <br>
            Oubliez "Bonjour" et "je voudrais savoir...", papi robot est avant tout un robot,
            qui se contente d'extraire les données necessaires pour trouver un lieu.
            <br>
            Saisir une phrase telle que : "je veux aller à la poste du 20e, à Paris" aura beaucoup de chances d'aboutir.
            <br>
            Saisissez même directement le lieu voulu. "tour eiffel" est juste ce qu'il faut à notre papi favorit pour
            trouver le monument.
        </p>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <button type="button" class="mdl-button mdl-button--colored close">Compris !</button>
        </div>
    </div>
</div>

{% endblock %}